/* Type-level rules for entire site */

body {
    background-color: cornflowerblue;
    color: black;
    font-family: "Lucida Console", monospace, serif;
}
    
h1 {
    font-size: 25px;
    text-align: right;
    margin-right: 100px;
}

/* Type-level rules for index page */

h3 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 10px;
}

/* Class-level rules for index page */

/* Textbox rules */

span.sorted {
    background-color: lawngreen;
}

span.unsorted {
    background-color: goldenrod;
}

/* Timeline rules */

.node {
    background-color: aquamarine;
    height: 50px;
    width: 100px;
    /* This is an awkward way to write this, but this change happened near submission and I didn't want to re-assign every node class value */
    border-radius: 10px;
}

.node p {
    text-align: center;
    font-size: 14px;
}

.timelinearrow {
    border: solid black;
    width: 600px;
    height: 50px;
    border-width: 0 0 5px 0;
    margin: auto;
}

.bad.timelinearrow {
    background-image: url("../images/badtimeline.png");
    background-size: 100% 100%;
}

/* Bucket rules */

.bucket {
    background-color: darkblue;
    height: 300px;
    width: 300px;
}

.large.bucket {
    width: 700px;
}

.nodeblock {
    display: grid;
    grid-template-rows: 75px 75px 75px;
    background-color: white;
    height: 210px;
    width: 200px;
    padding-top: 5px;
    margin: auto;
    justify-content: center;
}

.large.nodeblock {
    width: 600px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 60px 60px 60px;
    padding-left: 25px;
}

/* This rule is for functions that have not been implemented at the time of the final project */

/*.reduced {
    height: 50px;
    width: 100px;
}*/

.expanded {
/* These attributes are for functions that have not been implemented at the time of the final project */
/*    height: 150px;
    width: 150px;
    padding-top: 10px;*/
    border: solid darkblue;
    border-width: 2px;
}

/* This rule is for functions that have not been implemented at the time of the final project */
/*.eventblock {
    background-color: white;
    height: 120px;
    width: 120px;
    margin: auto;
}*/

.unsort.node {
    box-shadow: 3px 3px;
    border-radius: 0px;
}

.bad.node {
    background-image: url("../images/badbucket.png");
    background-size: 100% 100%;
}

.boxexpand {
    font-family: "Times New Roman";
}

/* ID-level rules */

/* Textbox rules */

#textbox {
    background-color: white;
    height: 300px;
    width: 400px;
}

#textbox p {
    margin: 10px;
}

/* Timeline rules */

#timeline {
    display: grid;
    grid-template-rows: 100px 100px;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

#arrowrow {
    display: grid;
    grid-template-columns: 600px 600px;
    border: 2px dashed black;
}

#timelinelist {
    display: grid;
}

#errbox {
    background-color: darkgray;
    height: 130px;
    width: 200px;
    margin: auto;
}

#errbox p {
    text-align: center;
}

#errboxbuttons {
    display: grid;
    grid-template-columns: 100px 100px;
}

/* These rules are for functions that are not implemented yet in the final project */

/*#toolsandsuch {
    display: grid;
    grid-template-columns: 100px 600px;
}

#toolbar {
    background-color: darkgray;
    height: 250px;
    width: 75px;
}

#bucketarea {
    display: grid;
    grid-template-rows: 150px 300px;
}*/

/* Bucket rules */

#bucketrow {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-columns: 400px 400px 400px;
}

#largebuckettop {
    display: grid;
    grid-template-columns: 650px 50px;
}

/* For mobile users */
#mobilewarning {
    font-size: 64px;
    color: black;
    background-color: red;
}

/* Rules for instruction page--there's only one we need specifically for the instructions page, just to make the text a little more readable. */

#instructions {
    background-color: white;
}
